---
title: Homepage
layout: layouts/base.njk
---

<section class="postlist mt-3 pt-3">
  <div class="container">
    <h2 class="title has-text-centered mt-3 mb-6">Nylige innlegg</h2>
    <div class="columns">
      {%- for post in collections.all | reverse -%}
        {%- if loop.index0 < 6 and post.data.tags -%}
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  {{ post.data.tittel }} | {{ post.data.tags[0] }}
                </p>
              </header>
              <div class="card-image">
                {%- if post.data.bilde -%}
                <img src="{{ post.data.bilde }}">   
                {%- else -%}
                <img src="/img/hostvindu.jpg">
                {%- endif -%}             
              </div>
              <div class="card-content">
                <div class="content">
                  {{ post.data.beskrivelse }}
                </div>
              </div>
              <footer class="card-footer">
                <a href="{{ post.url }}" class="button is-fullwidth is-dark card-footer-item">Les innlegg</a>
              </footer>
            </div>
          </div>
          {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</section>