<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="/" class="navbar-item">Optkontek</a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBlogg">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  
  <div id="navbarBlogg" class="navbar-menu">
    <div class="navbar-start">

      <a href="/post" class="navbar-item">
        Teknisk sett
      </a>

      <a href="/reise" class="navbar-item">
        Reise
      </a>

      <a href="/preikeliste" class="navbar-item">
        Sikkerhetsprekener
      </a>

      <a href="/om-meg" class="navbar-item">
        Om meg
      </a>

    </div>
  </div>
</nav>
