---
tittel: Trygg verdensvev
---

<!doctype html>
<html lang="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>{{ tittel }}</title>
  </head>
  <body>
    <header>{% include "nav.njk" %}</header>
    {{ content | safe }}
  </body>
  <script src="/js/navbar.js"></script>
</html>