---
tittel: Trygg verdensvev
---

<!doctype html>
<html lang="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>{{ tittel }}</title>
  </head>
  <body>
    <header>{% include "nav.njk" %}</header>
    {{ content | safe }}
  <hr />
  <footer class="footer">
  <div class="content has-text-centered">
    <p>
  <a href="/personvern">Personvern.</a>
  <a href="https://snabelen.no/@eselet">@eselet@snabelen.no</a>

    </p>
  </div>
</footer>
  </body>
  <script src="/js/navbar.js"></script>
</html>