---
layout: layouts/base.njk
---

<section class="page-layout">
  <div class="container">
        <article class="content mt-5 mx-2">
          <h1 class="title">{{ tittel }}</h1>
          <p class="subtitle is-6">
            <a href="{{ page.filePathStem | parent }}">{{ page.filePathStem | parent }}</a> - 
            Offentliggjort: <time datetime="{{ page.date }}">{{ page.date |readableDate }}</time> 
          </p>
          {{ content | safe }}
        </article>
      
  </div>
</section>